# Ignore node_modules directory
node_modules/

# Ignore build directories
dist/
build/

# Ignore log files
*.log

# Ignore environment variable files
.env

# Ignore temporary files
*.tmp
*.swp

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore compiled files
*.o
*.out
*.class

# Ignore dependency directories
vendor/
env/

*/__pycache__/
*/.pytest_cache/
*/.mypy_cache/

